*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Roboto', sans-serif;
  font-size: 1.3rem;
  overflow: hidden;
}

.hero{
  background: #23424A;
  color: white;
  padding: 5rem 2rem;
}

.content{
  width: 60%;
  max-width: 600px;
  margin: 10vw 10vh;
}

.content > *{
  margin: 2rem 0;
}

.content__title{
  font-size: 3rem;
}

.content__text{
  margin-bottom: 3em;
}

.btn{
  text-decoration: none;
  text-transform: uppercase;
  background-color: #38CFD9;
  color: #23424A;
  padding: 0.5em 1.5em;
  border-radius: 100px;
  font-weight: 900;
}

.btn:hover{
  opacity: .75;
}
