.intro{
  background-color: var(--cream);
  color: var(--brown);
  text-align: center;
  padding: 12em 0;
  min-height: 660px;

  display: flex;
  align-items: center;
}

.container {
  width: 85%;
  margin: 0 auto;
  max-width: 1128px;
}

.primary-title{
  font-size: 3rem;
}

.secondary-title{
  text-transform: uppercase;
  color: var(--black);
  letter-spacing: 8px;
  margin: 0;
}

.section__title{
  text-align: center;
  font-size: 2rem;
}

.section__title--dark{
  color: var(--brown);
}

.section__title--light{
  color: white;
}

.image-section{
  color: white;
}

.image-section--black{
  background-color: var(--black);
}

.image-section--brown{
  background-color: var(--brown);
}

@media (min-width: 700px){
  .row {
    display: flex;
  }

  .col {
    width: 100%;
    margin: 0 1em;
  }

  .primary-title{
    font-size: 3.25rem;
  }
}
