*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  --primary-dark: #3B4050;
  --secondary-dark: #2E323F;
  --gray-background: #F2F2F2;
  --gray-text: #6F737F;
  --white: #FFF;
  --brown: #A59678;
}

body{
  color: var(--white);
  font-family: 'Montserrat', sans-serif;
}

h1, h2{
  font-family: 'Oswald', sans-serif;
}

img{
  max-width: 80%;
}

section{
  padding: 2em 0;
}
